<!--
    File Name: footer.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-07
-->

<!--Display name at footer-->
<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <h5><b>Jonathan Champ's Portfolio Site</b></h5>
  </div>
</nav>