<!--
    File Name: about.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-07
-->
<h1> <%= title %>  </h1>
<img src="/content/images/headshot.jpg" alt="Headshot" width="350" height="350">
<p>
    My name is Jonathan, I am an Indie Game Developer. I have had a passion for game developer since I was very young as I looked for many ways to develop <br> passion projects in simpiler game dev applications. 
    Finally, when I was 15 I decided to try real game development and have been passionate ever since. My love <br>has always been for gaming and creating experiences and worlds I could only imagine in my head.
    My passion is to bring these ideas to light and bring my<br> worlds to life for others to experience, and I hope to bring that to you. <br><br>

    To learn more about my past experiences, here is my <a href="/content/files/JCResume.pdf" target="_blank">Resume</a>.
</p>
