<!--
    File Name: contact.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-07
-->
<h1> <%= title %>  </h1>
<br>
<h3>If you'd like to contact me directly to get in touch, my information is below. As well, a contact form that can be used to contact reach me through the site.</h3><br>
<h4><ul>
    <li>Jonathan Champ</li>
    <li>Newmarket, ON, CA</li>
    <li>jonathancha@me.com</li>
</ul></h4>
<br>
<!--Contact Form Structure and inputs-->
<h2><b>Contact Form</b></h2>
<form action="/home">
    <label for="firstname">First name:</label><br>
    <input type="text" id="firstname" name="firstname"><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" id="lastname" name="lastname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="lastname" name="lastname"><br>
    <label for="pnum">Phone Number:</label><br>
    <input type="text" id="pnum" name="pnum"><br>
    <label for="message">Brief Message:</label><br>
    <input type="text" id="message" name="message"><br><br>
    <input type="submit" value="Submit">
  </form> 