<!--
    File Name: home.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-07
-->
<h1> <%= title %>  </h1>

<h3>
    <br>Welcome to Jonathan's Portfolio Webserver. Home to my accomplishments and future prospects. Here you can find my true passion in game development, what my current projects are and what my previous projects were before hand.
</h3>
<p>
    <br>You can also find more about me in the <a href = /about>About</a> section of my page to learn more of who it is behind the screen and where my passion comes from. If wish to contact me, you may also fill out a form in the <a href =contact>Contact</a> section.
    <br>My goal is to bring forward my passion projects to the world to enjoy and feel immersed in something bigger than themselves.
</p>