<!--
    File Name: projects.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-07
-->
<h1> <%= title %>  </h1>
<!--Display project images and a description-->
<h4><img src="/content/images/ProjectImageOne.PNG" alt="p1" width="550" height="350"> <b>HEL</b> <i>(Current Project, Solo Dev)</i> A 2D Norse Themed Rogue-Like with emphasis on Melee Combat.</h4>
<br>
<h4><img src="/content/images/ProjectImageTwo.PNG" alt="p2" width="550" height="350"> <b>Lost in Time</b> <i>(2021, Lead Dev/Design)</i> A 2D Puzzle Platformer using the mechanic of controlling time to solve puzzles.</h4>
<br>
<h4><img src="/content/images/ProjectImageThree.PNG" alt="p3" width="550" height="350"> <b>Breakout</b> <i>(2020, Solo Dev)</i> A rudimentary remake of the classic arcade game to test bounce and collision physics.</h4>
<br>