<!--
    File Name: services.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-07
-->
<h1> <%= title %>  </h1>
<br>
<h4>Many of the services I offer are focused on design and project development. I am an experienced coder and born leader.<br>
I am able to efficently develop and design ideas to bring imaginations to light and build a strong impactful game world.</h4>
<br>
<h3><b>Lead Designer</b></h3>
<h5>I'm someone who is strong headed and can lead an idea to reality and invision dreams and put them on paper.</h5><br>
<h3><b>Graphic Designer</b></h3>
<h5>I'm able to shape ideas into a viewable image to bring to life ideas and shape the world you wish to make.</h5><br>
<h3><b>Sound Designer</b></h3>
<h5>I'm someone who can make the player feel immersed and enveloped in the world around them with ethereal and mind opening sound tracks.</h5><br>
<br>
<!--Display the 3 images to be exactly the width of 1/3 of the screen-->
<img src="/content/images/gamedev.jpg" alt="Headshot" width=33% height="30%">
<img src="/content/images/artdev.jpg" alt="Headshot" width=33% height="30%">
<img src="/content/images/musicdev.jpg" alt="Headshot" width=33% height="30%">